body{
    font-family: 'Poppins', sans-serif;
    min-width: 1920px;
}

.leftColumn{
    background: #222222;
    float: left;
    width: 50%;
}

.rightColumn{
    background: white;
    float: left;
    width: 50%;
}