@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

.button{
    background-color: #DEBF79;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    width: 130px;
}
    .button:hover{
        cursor: pointer;
    }

.buttonHolder{
    text-align: center;
}

.contactForm{
    font-family: 'Poppins', sans-serif;
}
    .contactForm::placeholder{
        font-family: 'Poppins', sans-serif;
    }
    .contactForm > input[type=text]{
        width: 34%;
        border: none;;
        background-color: #F5F5F5;
        padding: 20px;
        margin: 15px;
        font-family: 'Poppins', sans-serif;
    }
    .contactForm >textarea{
        border: none;;
        background-color: #F5F5F5;
        padding: 20px;
        margin: 15px;
        resize: none;
        font-family: 'Poppins', sans-serif;
        width: 75%;
        height: 200px;
    }

.firstWord{
    border-bottom: 5px solid #DEBF79;
    padding-bottom: 5px;
}   

.header{
    height: 140px;
    position: absolute;
    width: 100%;
}
    .header > a{
        float: right;
        color: #DEBF79;
        padding: 40px 6vw 0px 0px;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
    }
    .header > img{
        float:left;
        padding: 15px 0px 0px 8vw;
    }

.line{
    width: 5%;
    height: 2px;
    border-bottom: 2px solid black;
    position: absolute;
    top: 470px;
}

.leftHeader{
    width: 50%;
    background:#222222;
    margin: 0px;
    float: left;
    height: 100vh;
}
    .leftHeader > h1{
        font-size: 4vw;
        text-align: left;
        color: white;
        padding: 300px 8vw 0px 8vw;
    }
    .leftHeader > p{
        padding: 0px 8vw 0px 8vw;
        text-align: left;
        color: white;
        font-size: 1vw;
    }

.rightHeader{
    width: 50%;
    background: white;
    margin: 0px;
    float: left;
    height: 100vh;
}
    .rightHeader > h2{
        font-size: 40px;
        text-align: left;
        padding: 200px 0px 0px 100px;
    }
.topLine{
    width: 150px;
    height: 2px;
    border-bottom: 2px solid black;
    position: relative;
    transform: rotate(45deg);
    left: .7vw;
}

    
@media only screen and (max-width: 900px) {
    body {
        min-width: 600px;
    }

    .buttonHolder{
        text-align: center;
        padding-bottom: 10px;
     }

    .contactForm > input[type=text]{
        width: 80%;
        border: none;;
        background-color: #F5F5F5;
        padding: 20px;
        margin:15px 40px 15px 40px;
    }
    .contactForm >textarea{
        width: 80%;
        border: none;;
        background-color: #F5F5F5;
        padding: 20px;
        margin: 15px 40px 15px 40px;
        resize: none;
        font-family: 'Poppins', sans-serif;
    }

    .header{
        height: 100px;
        position: absolute;
        width: 100%;
        margin: 0px;
        min-width: 500px;
    }
        .header > a{
            float: right;
            color: #DEBF79;
            padding: 40px 40px 0px 0px;
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
        }
        .header > img{
            float:left;
            padding: 15px 0px 0px 40px;
        }

    .line{
        display: none;
    }    

    .leftHeader{
        height: 500px;
        background:#222222;
        margin: 0px;
        width: 100%;
    }
        .leftHeader > h1{
            font-size: 60px;
            text-align: left;
            color: white;
            padding: 80px 0px 0px 40px;
        }
        .leftHeader > p{
            padding: 0px 40px 0px 40px;
            text-align: justify;
            color: white;
            font-size: 20px;
        }
    
    .rightHeader{
        height: 500px;
        background: white;
        margin: 0px;
        width: 100%;
    }
        .rightHeader > h2{
            font-size: 40px;
            text-align: left;
            padding: 0px 0px 0px 40px;
        }
    .topLine{
        display: none;
    }
}