@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

body{
    background:#222222;
}
.header{
    height: 140px;
}
    .header > img{
        float:left;
        padding: 15px 0px 0px 200px;
    }
    .header > a{
        float: right;
        color: #DEBF79;
        padding: 40px 200px 0px 0px;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
.contentBoxes{
    height: 500px;
    padding-top: 25px;
}

.columnImg{
    width: 200px;/*example only*/
    height: 150px;/*example only*/
    margin: 0 auto;
    text-align: center;
}

    .columnImg > img{
    padding-top: 20px;
    vertical-align: middle;
}

.column {
    display: inline-block;  
    height: 450px;
    column-gap: 5px;
    background: white;
    margin: 10px 20px 10px 20px;
    display: inline-block;
    vertical-align: middle;
}

    .column > p{
        padding: 0px 10px 0px 10px;
    }
    
  
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}